.Header {
    background-color: gray;
    height: 200px;
    padding: 120px;
    color: black;
    text-align: left;
  }
  
  .Logo img {
    text-align: center;
    height: 120px;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .Menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .Menu li{
    padding-right: 10px;
    float: left;
  }
  .Menu li a{
    text-decoration: none;
    display: block;
    color:gray;
    text-align: left;
    padding: 16px;
    text-decoration: none;
  
  }
  .Menu li a:hover {
    color: red;
    background-color: #111111;
  }
  .Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }